body{
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
.container{
    max-width: 800px;
    margin: 0 auto;
}
.main{
    width: 50%;
    height: 100%;
    margin:0 auto;
    padding-top: 50%;
}
.login {
    background-color: #ECF1F5;
    
    text-align: center;
    padding-top: 7%;
    padding-bottom: 7%;
    border-radius: 7px;
}
.login a{
    color: #3F709D;
}
.login-wrapper{
    padding-top: 7%;
    cursor: pointer;
}
.image{
    height: auto;
    width: 100%;
    margin: auto auto;
}
@media screen and (max-width:800px){
    .main{
        padding-top: 70%;
    }
}