{%load static%}
<!doctype html>
<html>

<head>
    <title>NeroAspect</title>
    <meta charset='utf-8'>
    <script src="{%static 'js/index.js' %}">
    </script>
    <link rel="stylesheet" href="{%static 'css/record.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
</head>

<body>

    <div class="video_div">
        <video class="video" id="output" autoplay muted></video>
    </div>
    <div class="overlay">
        <div class="timer" id="_timer">00:00</div>
        <div class="question" id='_question'></div>
        <div id="spinner" class="hidden">
            <div class="wBall" id="wBall_1">
                <div class="wInnerBall"></div>
            </div>
            <div class="wBall" id="wBall_2">
                <div class="wInnerBall"></div>
            </div>
            <div class="wBall" id="wBall_3">
                <div class="wInnerBall"></div>
            </div>
            <div class="wBall" id="wBall_4">
                <div class="wInnerBall"></div>
            </div>
            <div class="wBall" id="wBall_5">
                <div class="wInnerBall"></div>
            </div>
        </div>
    </div>
</body>

</html>